/* -------------------------------------------- */
.page {
  padding: 6px 6px 6px 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #999999;
  background-color: #ededed;
  display: none;
  height: 540px;
  position: relative;
  width: 320px;
}
.page h1 {
  margin: 12px 12px 4px 0px;
  font-size: 12px;
}
.selected {
  display: block;
}
.command-bar {
  position: absolute;
  bottom: 12px;
  right: 12px;
}
