header(class="navbar navbar-fixed-top")
	div(class="navbar-inner")
		a(href="/", data-view="dashboard", class="brand change-view") craft.js
		ul(class="nav")
			li(class="divider-vertical")
			li
				a(href="/#{config.context.src}/") Repository
			li(class="divider-vertical")
			li
				a(href="/#{config.context.dist}/") Releases
			li(class="divider-vertical")
			li
				a(href="/#{config.context.jobs}/") Jobs
			li(class="divider-vertical")
		if context !== "config"
			ul(class="nav pull-right")
				li(class="divider-vertical")
				li
					a(href="#", class="collapser", data-slide="true", data-dependent="#lint-options", data-view="repository") lint options
				li(class="divider-vertical")
				li
					a(href="#!/view/favorites", class="change-view collapser", data-dependent="#project-files") Favorites
				li(class="divider-vertical")

#lint-options
#project-files