extends layout

block content
	style
		.heading .btn {
			width: 130px;
			text-align: left;
		}
		.heading .btn i {
			float: right;
		}
		.page-header {
		}
		body {
			color: #333:
		}
		
		.thumbnails li .thumbnail {
			color: #333;
		}
		span.brand {
			color: black;
		}
		.thumbnail {
			border-radius: 8px;
			border-top: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
			padding: 8px;
			background-color: #ededed;
		}
		.thumbnail h5 ,
		.thumbnail p {
			padding: 4px;
		}
		.box {
			box-shadow: 5px 5px 12px #333;
			padding: 6px 24px 0px 24px;
			margin-bottom: 24px;
			margin-top: -12px;
		}
		.ribbon {
			display: block;
		}
		
	.container.box
		
		.page-header
			h1 craft.js
				small
					&nbsp;&nbsp;-&nbsp;&nbsp;a JavaScript crafting tool to assess, test and build JavaScript code
		
		.row
			.span12
				ul.thumbnails
					li.span3(style="float: left;")
						a.thumbnail(href="/repo/100m/controller/application-controller.js?lint=true&lint-passfail=false&lint-maxerr=1000&lint-browser=true&lint-node=false&lint-rhino=false&lint-couch=false&lint-wsh=false&lint-jquery=true&lint-prototypejs=false&lint-mootools=false&lint-dojo=false&lint-debug=false&lint-devel=true&lint-es5=true&lint-strict=false&lint-globalstrict=false&lint-asi=false&lint-laxbreak=true&lint-bitwise=true&lint-boss=false&lint-curly=true&lint-eqeqeq=true&lint-eqnull=false&lint-evil=false&lint-expr=false&lint-forin=false&lint-immed=true&lint-latedef=true&lint-loopfunc=false&lint-noarg=true&lint-regexp=true&lint-regexdash=false&lint-scripturl=true&lint-shadow=false&lint-supernew=false&lint-undef=true&lint-newcap=true&lint-noempty=true&lint-nonew=true&lint-nomen=true&lint-onevar=false&lint-plusplus=false&lint-sub=false&lint-trailing=true&lint-white=true&lint-indent=4&")
							h5 Assess JavaScript code
							p Browse and assess your code with JSHint and trace warnings in the browser.
							img(src="/img/assess.png")
					
					li.span3(style="float: left;")
						a.thumbnail(href="/repo/100m/controller/application-controller.js?expand=true&")
							h5 Resolve JavaScript dependencies
							p Define dependencies in your JavaScript code and let craft.js resolve dependencies
							img(src="/img/expand.png")

					li.span3(style="float: left;")
						a.thumbnail(href="/repo/test/model")
							h5 Run qUnit tests
							p Run quint tests in your browser or by using the handy phantom.js integration. Automate your unit tests!
							img(src="/img/test.png")

					li.span3(style="float: left;")
						a.thumbnail(href="/repo/100m/controller/application-controller.js?mangle=true&squeeze=true&beautify=true&")
							h5 Transform JavaScript code
							p craft.js let you opt-in AST transformations by integrating uglify.js. Miminize or pretty-printed on demand.
							img(src="/img/transform.png")


	

				