extends layout

block content
	.page
		div: a(href="/build/") Browse repository
		<br/>
		.text-box Quality.js aims to help web developers to manage their assets by providing a browse and build environment for JavaScript, CSS and template files.
			h2 Browse
			p Browse your web assets managed by quality.js.
			h2 Concatenate
			p Annotate your JavaScripts with dependencies and let quality.js concatenate all the dependenices to a single file.
			h2 Minimize
			p Minimize your code for delivery on productive websites.
			h2 Beautify
			p Remove comments and reformat your JavaScript to a consistent code style.
			h2 Lint
			p Check your JavaScript code for code smells. Use JSHint to provide insight about how you can improve your code in terms of stability and maintainability.
			