extends layout

block content
	style
		.heading .btn {
			width: 130px;
			text-align: left;
		}
		.heading .btn i {
			float: right;
		}
		.page-header {
		}
		body {
			color: #333:
		}
		
		.thumbnails li .thumbnail {
			color: #333;
		}
		span.brand {
			color: black;
		}
		.thumbnail {
			border-radius: 8px;
			border-top: 1px solid #ddd;
			border-left: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
			padding: 8px;
			background-color: #ededed;
		}
		.thumbnail h5 ,
		.thumbnail p {
			padding: 4px;
		}
		.box {
			box-shadow: 5px 5px 12px #333;
			padding: 6px 24px 0px 24px;
			margin-bottom: 24px;
			margin-top: -12px;
		}
	.container.box
		
		.page-header
			h1 craft.js
				small
					&nbsp;&nbsp;-&nbsp;&nbsp;a JavaScript crafting tool to assess, test and build JavaScript code
		
		.row
			.span12
				ul.thumbnails
					li.span3(style="float: left;")
						.thumbnail(href="#")
							h5 Assess JavaScript code
							p Browse and assess your code with JSHint and trace warnings in the browser.
							img(src="/img/assess.png")
					
					li.span3(style="float: left;")
						.thumbnail(href="#")
							h5 Resolve JavaScript dependencies
							p Define dependencies in your JavaScript code and let craft.js resolve dependencies
							img(src="/img/expand.png")

					li.span3(style="float: left;")
						.thumbnail(href="#")
							h5 Run qUnit tests
							p Run quint tests in your browser or by using the handy phantom.js integration. Automate your unit tests!
							img(src="/img/test.png")

					li.span3(style="float: left;")
						.thumbnail(href="#")
							h5 Transform JavaScript code
							p craft.js let you opt-in AST transformations by integrating uglify.js. Miminize or pretty-printed on demand.
							img(src="/img/transform.png")


	

				