extends layout

block content
	.page
		div: a(href="/#{src}/") Browse repository
		<br/>
		.text-box craft.js aims to help developers to manage their JavaScript assets by providing a (currently web based) facility for browsing, managing, building and distributing JavaScript assets.
			h2 Browse
			p Browse your web assets managed by quality.js.
			h2 Concatenate
			p Annotate your JavaScripts with dependencies and let craft.js concatenate all the dependenices to a single file.
			h2 Minimize
			p Minimize your code for delivery on productive websites (uses <a href="https://github.com/mishoo/UglifyJS">uglify-js</a>)
			h2 Beautify
			p Remove comments and reformat your JavaScript to a consistent code style (uses <a href="https://github.com/mishoo/UglifyJS">uglify-js</a>).
			h2 Lint
			p Check your JavaScript code for code smells. Uses <a href="https://github.com/jshint/jshint/">JSHint</a> to provide insight about how you can improve your code in terms of stability and maintainability.
			
		p Follow <a href="http://twitter.com/#!marcbaechinger">marcbaechinger</a> on twitter.
			