!!!5
html
	head
		title craft.js - follow marcbaechinger on twitter
		link(rel='stylesheet', href='/stylesheets/style.css')
		
	body
		header: a(href="/") craft.js
		block content
		
		.ribbon &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fork me at <a href="https://github.com/marcbaechinger/craft.js">github</a>
		
		script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js")
		script(src="/build/src/controller/model-aware-controller.js?plain=true&expand=true")
		script(src="/javascripts/ui-utils.js")
		if typeof path !== "undefined"
			script
				var data = {
					path: "#{path}",
					displayMode: "#{displayMode}"
				};