
.dependencies {
	.button-list();
	.dep, span {
		background-color: #dedede;
		border-radius: 3px;
		padding: 4px 6px;
		cursor: pointer;
	}
	span {
		background-color: #165CAA;
		color: #fff;
		padding: 4px 12px;
	}
	a:hover {
		background-color: #999;
		color: #fff;
	}
	span:hover {
		background-color: #1F2F5B;
		color: #fff;
	}
}

