@import "/public/stylesheets/layout";
@import "/public/stylesheets/source-viewer";

@code-color: #ededed;
@error-bg-color: #990009;
@error-font-color: yellow;

.panel() {
	display: block;
	border-radius: 5px;
	padding: 8px;
}
.shadow-panel() {
	.panel();
	box-shadow: 3px 3px 12px #333;
	position: relative;
	padding-top: 18px;
}

.popup() {
	background-color: #efefef;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #333;
	border-left: solid 1px #ccc;
	border-right: solid 1px #333;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 2px 4px 4px #333;
	display: none;
	position: absolute;
	z-index: 100;
}
.button-list() {
	padding-left: 16px;
	list-style: none;
	padding: 0px;
	li {
		height: 22px;
		margin-bottom: 2px;
		padding: 4px 16px;
		
		a {
			background-color: #dedede;
			border-radius: 5px;
			padding: 2px 6px 4px 6px;
		}
	}
}

a {
	color: #20539D;
}

h2.directory {
	margin-top: 50px;
	a {
		text-decoration: none;
	}
}
ul.directory {
	margin-left: 0px;
	background-color: #F1DCA3;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: -20px;

	.btn {
		width: 72px;
	}
	.directory-item {
		border-bottom: solid 1px #999;
		list-style: none;
		padding: 4px 18px;
		height: 20px;
		position: relative;
		
		
		.label-success,
		.label-important {
			cursor: pointer;
		}
		label {
			margin-left: 22px;
			display: inline-block;
		}
		a {
			color: #20539D;
		}
		button {
			margin-top: 0px;
			float: right;
		}
		.transform {
			margin-left: 20px;
		}
		.job-build {
			float: right;
			button {
				margin-left: 183px;
			}
		}
	}
}


.lint-flags,
.build-flags {
	border-bottom: solid 1px #333;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
}
.lint-flags {
	label {
		display: block;
		cursor: pointer;
		float: right;
		span {
			display: inline-block;
			width: 40px;
		}
	}
}

.page {
	.shadow-panel();
}

body > div.directory-item {	
	margin-top: 52px;
}

/****** headers   ********/
h2 {
	background-color: #3d3d3d;
	color: white;
	cursor: pointer;
	padding: 4px 8px;
	margin-top: 28px;
	a {
		color: #F3D354;
	}
}

h3 {
	box-shadow: inset -1px -18px 2px #555;
}

h3 a {
	font-size: 12px;
	font-weight: 300;
	margin-left: 12px; 
}


div.text-box {
	.panel();
	background-color: #efefef;
	border: 1px solid #999;
}
div.page {
	width: 840px;
	top: 32px;
}
.size {
	font-size: 12px;
	font-weight: 300;
	float: right;
	margin-top: 4px;
}

.size.top {
	position: fixed;
	top: 46px;
	right: 60px;
	z-index: 23;
}
a.size {
	position: fixed;
	top: 46px;
	right: 32px;
	z-index: 23;
}


.bag-button {
	display: none;
}

.js .bag-button {
	display: inline-block;
	float: right;
	margin-left: 20px;
	margin-right: 28px;
	margin-top: 2px;
}

.dist-context .bag-button {
	display: none;
}

label.project {
	background-color: #C94F1A;
	opacity: 0.6;
	border-radius: 4px;
	color: #ededed;
	display: inline-block;
	padding: 3px 12px;
	margin-right: 18px;
	width: 320px;
}

.value-list {
	margin-bottom: 8px;
	padding: 12px;
	li {
		height: 2em;
	}
	
	.boolean-editor {
		display: block;
		background-color: #999;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		float: left;
		padding: 1px 8px;
		margin: 6px;
		&.on {
		 	background-color: darkgreen;
		}
	}
	input {
		border-radius: 4px;
		display: block;
		margin-left: 160px;
	}
}

.project-name {
	font-weight: 700;
	padding-left: 12px;
}

button {
	cursor: pointer;
}
a.file {
	width: 280px; 
	display: inline-block;
}

.lint-button {
	.button(#20539D);
	color: #fff;
}

.project-button {
	.button(#999);
	color: #fff;
	width: 280px;
	text-align: left;
	margin-left: 8px !important;
}

.js-button-bar {
	margin-left: 26px;
	margin-top: 2px;
	.btn {
		margin-right: 8px;
	}
}

.source-panel {
	padding-top: 6px;
	border-top: 1px solid #ccc;
	background-color: #1F5A9C;
	color: #fff;
}

.job .source-panel,
.css .source-panel,
.html .source-panel {
	padding-top: 0px;
	border-top: none;
}
.source {
	background-color: #fff;
	pre:nth-child(even) {
		background-color: white;
	}
	pre:hover {
		background-color: #999;
	}
	pre {
		border-bottom: 1px solid #ddd;
		border-radius: 0px;
		font-family: Courier;
		font-size: 14px;
		margin: 0;
		padding-top: 4px;
		padding-bottom: 2px;
		padding-left: 16px;
		background-color: @code-color;
		
		&.error {
			background-color: @error-bg-color;
			color: @error-font-color;
		}
		&.marker {
			background-color: #FFD800;
		}
	}
	.reason {
		display: block;
		color: yellow;
		white-space: normal;
	}
}

.options-panel {
	float: left;
	width: 280px;
}

.status-panel {
	li .evidence pre {
		margin-left: -25px;
		border-left: none;
		border-right: none;
		margin-bottom: 8px;
		margin-top: 8px;
	}
	a:visited {
		color: #fff;
	}
	ol {
		display: none;
		margin-bottom: 24px;
		li {
			margin-left: 20px;
			margin-bottom: 6px;
			.label {
				margin-left: 6px;
				margin-right: 6px;
				cursor: pointer;
			}
		}
	}
	.evidence {
		display: none;
	}
	.evidence pre {
		background-color: @code-color;
		border-radius: 0px;
		margin: 0;
	}
	.reason {
		color: red;
		margin-left: 12px;
		margin-top: 4px;
	}
}

.options {
	.shadow-panel();
	width: 240px;
	div.option {
		.clearfix();
		width: 99%;
		padding: 4px 0px 4px 12px;
		.key {
			width: 120px;
			float: left;
		}
		.val {
			float: left;
		}
		&:nth-child(odd) {
			background-color: #ededed;
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			border-radius: 3px;
			box-shadow: 1px 1px 2px #ccc;
			margin: 2px 0px;
		}
	}
}
.marker-button {
	margin-top: 2px;
	margin-left: 22px;
}

#markers {
	.button-list();
	margin-left: -16px;
}

.no-errors {
	background-color: darkgreen;
	color: white;
	text-align: center;
	padding: 8px;
	margin-bottom: 12px;
}
.errors {
	background-color: @error-bg-color;
	color: @error-font-color;
	cursor: pointer;
	text-align: center;
	padding: 8px;
	margin-bottom: 12px;
}


.no-checks {
	background-color: #CDBE0E;
	text-align: center;
	.panel;
}

.ribbon {
	display: none;
	position: fixed;
	z-index: 8;
	left: -90px;
	top: 140px;
	font-size: 16px;
	width: 300px;
	box-shadow: 3px 3px 9px #333;
	background-color: #333;
	color: #fff;
	padding: 4px 0 6px 0;
	text-align: center;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	a {
		color: #F3D354;
		text-decoration: none;
	}
}

body {
  padding: 42px 0px 12px 0px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* -- */

.container-fluid .breadcrumb {
	z-index: 9;
	position: fixed;
	top: 74px;
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	padding-left: 19px;
	background-image: -moz-linear-gradient(center top , #CDCDBF, #E8E8E8);
  	background-image: -ms-linear-gradient(top, #CDCDBF, #E8E8E8);
  	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CDCDBF), to(#E8E8E8));
  	background-image: -webkit-linear-gradient(top, #CDCDBF, #E8E8E8);
  	background-image: -o-linear-gradient(top, #CDCDBF, #E8E8E8);
  	background-image: linear-gradient(top, #CDCDBF, #E8E8E8);
}

h2.top {
	margin-top: 50px;
}
#project-tools {
	position: fixed;
	z-index: 20;
	right: 8px;
	top: 8px;
	float: right;
	
	> label {
		margin-left: 24px;
		margin-bottom: 12px;
	}
}

#markers .fixme,
#markers .todo {
	background-color: #FFD800;
	border-radius: 4px;
	box-shadow: 2px 2px 6px #777;
	display: absolute;
	margin-top: 2px;
	margin-left: 22px;
	margin-right: 12px;
	padding: 2px 8px;
	text-decoration: none;
	color: #000 !important;
}
#markers .todo {
	background-color: #20539D;
	color: #fff !important;
	border: solid 1px #fff;
	box-shadow: none;
}


#lint-options {
	position: fixed !important;
	.popup();
	margin-right: 24px;
	width: 920px;
	right: 98px;
	top: 40px;
	z-index: 22;
	padding-bottom: 8px;
}

#project-files {
	.popup();
	z-index: 22;
	min-height: 120px;
	width: 636px;
	right: 24px;
	position: fixed;
	top: 40px;
	ul {
		list-style: none;
		padding-left: 8px;
		font-size: 14px;
	}
	label {
		margin-right: 12px;
		display: inline-block;
	}
	ul {
		margin-left: 12px;
		margin-top: 8px;
	}
	.build {
		float: right;
		display: inline-block;
		margin-top: -2px;
	}
}
.navbar-fixed-top {
	z-index: 9;
}
#search-bar {
	color: #333;
	float: right;
	margin-top: 2px;
	input {
		border-radius: 8px;
		border-color: #999;
		font-size: 12px;
		padding: 0px 6px;
		width: 320px;
	}
}
.jobs-context #search-bar,
.dist-context #search-bar {
	margin-right: 26px;
}
#result-info {
	border-radius: 6px;
	padding: 4px 8px 3px 8px;
	margin-right: 12px;
	display: inline-block;
	font-size: 12px;
	code {
		padding: 0 4px;
	}
}

.js #result-info {
	color: #fff;
	display: inline;
}
.css #result-info,
.html #result-info,
.job #result-info {
	color: #333;
}
.all-tests {
	position: absolute;
	top: 48px;
	right: 20px;
	z-index: 15;
}
#build-toolbar {
	position: fixed;
	right: 0px;
	top: 48px;
	z-index: 20;
	border: none;
	label {
		display: inline-block;
		margin-left: 12px;
		input {
			margin-right: 4px;
			margin-top: -0px;
			display: inline-block;
			float: left;
			margin-top: 3px;
		}
	}
	.transform {
		float: right;
		margin-left: 24px;
		margin-top: -2px;
		margin-right: 10px;
		width: 83px;
	}
}

#dependencies {
	background-color: #F7F7F7;
	border: solid 1px #cecece;
	border-top: none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	cursor: pointer;
	margin-left: 20px;
	margin-bottom: 24px;
	margin-top: -1px;
	display: inline-block;
	padding: 4px 8px;
}
#deps-panel {
	background-color: #F7F7F7;
	border: solid 1px #cecece;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	width: 34%;
	display: none;
	margin-top: -20px;
	margin-left: 10px;
	padding: 26px 12px 12px 12px;
	
}
span.pipe {
	margin-left: 18px;
}

// TODO move to source-viewer.less
.testcase {
	display: none;
}

.editor-container {
	display: none;
	background-color: #ed3d3d;
	border-radius: 5px;
	padding: 8px;
	box-shadow: 6px 6px 18px #333;
	position: absolute;
	left: 44px;
	top: 156px;
	right: 44px;
	height: 346px;
	opacity: 0.9;
	h2 {
		margin: 0px 0px 4px 0px;
	}
}
.editor {
	font-size: 16px;
	position: absolute;
	right: 4px;
	left: 4px;
	min-height: 300px; 
}

.jump-link {
	border-top: 78px solid transparent;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
	width: 0;
	height: 0;
}