@code-color: #ededed;
@error-bg-color: #990009;
@error-font-color: yellow;

.panel() {
	display: block;
	border-radius: 5px;
	padding: 8px;
}
.shadow-panel() {
	.panel();
	box-shadow: 3px 3px 12px #333;
	position: relative;
	padding-top: 18px;
}

.button(@bg-color: #cecece, @bg-color-on: darkgreen) {
	background-color: @bg-color;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	padding: 3px 12px;
	text-align: center; 
	&.contained {
		background-color: @bg-color-on;
		color: #eee;
	}
}

.popup() {
	background-color: #efefef;
	border-top: solid 1px #ccc;
	border-bottom: solid 1px #333;
	border-left: solid 1px #ccc;
	border-right: solid 1px #333;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	box-shadow: 2px 4px 4px #333;
	display: none;
	position: absolute;
	z-index: 100;
}
.button-list() {
	padding-left: 16px;
	list-style: none;
	padding: 0px;
	li {
		height: 22px;
		margin-bottom: 2px;
		padding: 4px 16px;
		
		a {
			background-color: #dedede;
			border-radius: 5px;
			padding: 2px 6px 4px 6px;
		}
	}
}

/**********    cleafix ***************/
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: block;
}

/* -- */
header {
	background-color: #ededed;
	border-bottom: 1px solid #ccc;
	color: #fff;
	font-size: 32px;
	text-shadow: 1px 1px 2px #333;
	font-family: "Arial Black";
	font-weight: 700;
	padding-left: 160px;
	margin-left: -60px;
	margin-right: -58px;
	margin-top: -14px;
	a {
		color: #fefefe;
		text-decoration: none;
	}
}

a {
	color: #20539D;
}

h2.directory {
	margin-top: 50px;
}
ul.directory {
	padding-left: 0px;
}

.lint-flags,
.build-flags {
	border-bottom: solid 1px #333;
	margin-left: 12px;
	margin-right: 12px;
	margin-top: 12px;
}
.lint-flags {
	label {
		display: block;
		cursor: pointer;
		float: right;
		span {
			display: inline-block;
			width: 40px;
		}
	}
}
.directory-item {
	background-color: #dedede;
	border-radius: 5px;
	padding: 4px 12px 2px 12px;
	border: solid 1px #ccc;
	border: 1px solid #999;
	box-shadow: 2px 2px 4px #999,
		inset -1px -18px 2px #bbb;
	margin-bottom: 12px;
	list-style: none;
	label {
		margin-left: 22px;
	}
	.children {
	}
	a {
		color: #20539D;
	}
}
li.directory-item button.transform {
	margin-left: 20px;
	float: right;
}
.page {
	.shadow-panel();
}

ul.dependencies {
	.button-list();
	.dep {
		background-color: #e3e3e3;
		border-radius: 3px;
		padding: 4px 6px;
		cursor: pointer;
	}
	a:hover {
		background-color: #999;
		color: #fff;
	}
}
body > div.directory-item {	
	margin-top: 52px;
}

body {
  padding: 6px 50px 12px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/****** headers   ********/
h2 {
	margin-top: 28px;
	background-color: #3d3d3d;
	border-radius: 6px;
	color: white;
	cursor: pointer;
	padding: 4px 8px;
	a {
		color: #F3D354;
	}
}

h3 {
	box-shadow: inset -1px -18px 2px #555;
}

h3 a {
	font-size: 12px;
	font-weight: 300;
	margin-left: 12px; 
}


code.evidence pre {
	.panel();
	background-color: @code-color;
}

div.reason {
	margin-top: 4px;
	color: red;
}

div.text-box {
	.panel();
	background-color: #efefef;
	border: 1px solid #999;
}
div.page {
	width: 840px;
	top: 32px;
}
.size {
	font-size: 14px;
	font-weight: 300;
	float: right;
	margin-top: 4px;
}


label.project {
	background-color: #C94F1A;
	opacity: 0.6;
	border-radius: 4px;
	color: #ededed;
	display: inline-block;
	padding: 3px 12px;
	margin-right: 18px;
	width: 320px;
}

.value-list {
	margin-bottom: 8px;
	padding: 12px;
	li {
		height: 2em;
	}
	
	.boolean-editor {
		display: block;
		background-color: #999;
		border-radius: 4px;
		color: #fff;
		cursor: pointer;
		float: left;
		padding: 1px 8px;
		margin: 6px;
		&.on {
		 	background-color: darkgreen;
		}
	}
	input {
		border-radius: 4px;
		display: block;
		margin-left: 160px;
	}
}

.project-name {
	font-weight: 700;
	padding-left: 12px;
}

button {
	cursor: pointer;
}
a.file {
	width: 280px; 
	display: inline-block;
}

#markers .fixme,
#markers .todo {
	background-color: #FFD800;
	border-radius: 4px;
	box-shadow: 2px 2px 6px #777;
	display: absolute;
	margin-top: 2px;
	margin-left: 22px;
	margin-right: 12px;
	padding: 2px 8px;
	text-decoration: none;
	color: #000 !important;
}
#markers .todo {
	background-color: #20539D;
	color: #fff !important;
}


#lint-options {
	.popup();
	margin-right: 24px;
}
#project-files {
	.popup();
	min-height: 120px;
	width: 636px;
	right: 24px;
	ul {
		list-style: none;
		padding-left: 8px;
		font-size: 14px;
	}
	label {
		margin-right: 12px;
	}
	ul {
		margin-left: 12px;
		margin-top: 8px;
	}
	.build {
		float: right;
		display: inline-block;
		margin-top: -2px;
	}
}

#project-tools {
	float: right;
	margin-top: -28px;
	
	> label {
		margin-left: 24px;
		margin-bottom: 12px;
	}
}
.lint-button {
	.button(#20539D);
	color: #fff;
}

.project-button {
	.button(#999);
	color: #fff;
	width: 280px;
	text-align: left;
}

.marker-button {
	.button(#20539D);
	color: #fff;
	margin-left: 24px;
}
.bag-button {
	.button();
	width: 180px;
	margin-right: 4px;
}
div.source {
	.shadow-panel();
	background-color: #fff;
	pre:nth-child(even) {
		background-color: white;
	}
	pre:hover {
		background-color: #999;
	}
	pre {
		
		border-bottom: 1px solid #ddd;
		font-family: Courier;
		font-size: 14px;
		margin: 0;
		padding-top: 4px;
		padding-bottom: 2px;
		padding-left: 16px;
		background-color: @code-color;
		
		&.error {
			background-color: @error-bg-color;
			color: @error-font-color;
		}
		&.marker {
			background-color: #FFD800;
		}
	}
	.reason {
		display: block;
		color: yellow;
		white-space: normal;
	}
}

div.options-panel {
	float: left;
	width: 280px;
}


div.status-panel {
	margin-left: 300px;
}

div.options {
	.shadow-panel();
	width: 240px;
	div.option {
		.clearfix();
		width: 99%;
		padding: 4px 0px 4px 12px;
		.key {
			width: 120px;
			float: left;
		}
		.val {
			float: left;
		}
		&:nth-child(odd) {
			background-color: #ededed;
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #ccc;
			border-left: 1px solid #ccc;
			border-radius: 3px;
			box-shadow: 1px 1px 2px #ccc;
			margin: 2px 0px;
		}
	}
}

.no-errors {
	background-color: darkgreen;
	color: white;
	text-align: center;
	.panel;
}

ul#markers {
	.button-list();
	margin-left: 12px;
}

.errors {
	background-color: @error-bg-color;
	color: @error-font-color;
	text-align: center;
	.panel;
}

.no-checks {
	background-color: #CDBE0E;
	text-align: center;
	.panel;
}

.ribbon {
	position: fixed;
	left: -90px;
	top: 60px;
	font-size: 16px;
	width: 300px;
	box-shadow: 3px 3px 9px #333;
	background-color: #333;
	color: #fff;
	padding: 4px 0 6px 0;
	text-align: center;
	-moz-transform:rotate(-45deg);
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	-ms-transform:rotate(-45deg);
	a {
		color: #F3D354;
		text-decoration: none;
	}
}