body {
  padding: 42px 0px 12px 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
nav {
  float: right;
  margin-left: 48px;
  margin-right: 52px;
}
nav .nav-button {
  background-color: #4183c4;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 12px;
  text-align: center;
  background: #7db9e8;
  /* Old browsers */

  background: -moz-linear-gradient(top, #7db9e8 0%, #2989d8 50%, #1e5799 100%);
  /* FF3.6+ */

  background: -webkit-linear-gradient(top, #7db9e8 0%, #2989d8 50%, #1e5799 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #7db9e8 0%, #2989d8 50%, #1e5799 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #7db9e8 0%, #2989d8 50%, #1e5799 100%);
  /* IE10+ */

  background: linear-gradient(top, #7db9e8 0%, #2989d8 50%, #1e5799 100%);
  /* W3C */

  color: #fff;
  width: 60px;
  margin-left: 8px;
}
nav .nav-button.contained {
  color: #eee;
}
.repo-context nav .src, .dist-context nav .dist, .jobs-context nav .jobs {
  background-color: #265079;
  box-shadow: 1px 1px 4px #555;
  background: #216ca5;
  /* Old browsers */

  background: -moz-linear-gradient(top, #216ca5 0%, #2178b2 8%, #7db9e8 100%);
  /* FF3.6+ */

  background: -webkit-linear-gradient(top, #216ca5 0%, #2178b2 8%, #7db9e8 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #216ca5 0%, #2178b2 8%, #7db9e8 100%);
  /* Opera 11.10+ */

  background: -ms-linear-gradient(top, #216ca5 0%, #2178b2 8%, #7db9e8 100%);
  /* IE10+ */

  background: linear-gradient(top, #216ca5 0%, #2178b2 8%, #7db9e8 100%);
  /* W3C */

}
.container-fluid {
  margin-top: 32px;
  padding-left: 0px;
  padding-right: 0px;
}
.container-fluid .navbar .navbar-inner .brand {
  margin-left: 0px;
}
/**********    cleafix ***************/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: block;
}
.dependencies {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  background-color: red;
}
.dependencies .dep, .dependencies span {
  padding: 4px 6px;
  cursor: pointer;
}
.dependencies span {
  background-color: #165CAA;
  color: #fff;
  padding: 4px 12px;
}
.dependencies a:hover {
  background-color: #999;
  color: #fff;
}
.dependencies span:hover {
  background-color: #1F2F5B;
  color: #fff;
}
a {
  color: #20539D;
}
h2.directory {
  margin-top: 50px;
}
h2.directory a {
  text-decoration: none;
}
ul.directory {
  padding-left: 0px;
}
.lint-flags, .build-flags {
  border-bottom: solid 1px #333;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}
.lint-flags label {
  display: block;
  cursor: pointer;
  float: right;
}
.lint-flags label span {
  display: inline-block;
  width: 40px;
}
.directory {
  background-color: #F1DCA3;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: -20px;
}
.directory-item {
  border-bottom: solid 1px #999;
  list-style: none;
  padding: 4px 18px;
  height: 20px;
}
.directory-item label {
  margin-left: 22px;
  display: inline-block;
}
.directory-item a {
  color: #20539D;
}
.directory-item button {
  margin-top: 0px;
  float: right;
}
.directory-item .transform {
  margin-left: 20px;
}
.directory-item .job-build {
  float: right;
}
.directory-item .job-build button {
  margin-left: 183px;
}
.page {
  display: block;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 3px 3px 12px #333;
  position: relative;
  padding-top: 18px;
}
body > div.directory-item {
  margin-top: 52px;
}
/****** headers   ********/
h2 {
  background-color: #3d3d3d;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
  margin-top: 28px;
}
h2 a {
  color: #F3D354;
}
h3 {
  box-shadow: inset -1px -18px 2px #555555;
}
h3 a {
  font-size: 12px;
  font-weight: 300;
  margin-left: 12px;
}
div.text-box {
  display: block;
  border-radius: 5px;
  padding: 8px;
  background-color: #efefef;
  border: 1px solid #999;
}
div.page {
  width: 840px;
  top: 32px;
}
.size {
  font-size: 12px;
  font-weight: 300;
  float: right;
  margin-top: 4px;
}
.size.top {
  position: fixed;
  top: 46px;
  right: 60px;
  z-index: 23;
}
a.size {
  position: fixed;
  top: 46px;
  right: 32px;
  z-index: 23;
}
.bag-button {
  display: none;
}
.js .bag-button {
  display: inline-block;
  float: right;
  margin-left: 20px;
  margin-right: 28px;
  margin-top: 2px;
}
.dist-context .bag-button {
  display: none;
}
label.project {
  background-color: #C94F1A;
  opacity: 0.6;
  border-radius: 4px;
  color: #ededed;
  display: inline-block;
  padding: 3px 12px;
  margin-right: 18px;
  width: 320px;
}
.value-list {
  margin-bottom: 8px;
  padding: 12px;
}
.value-list li {
  height: 2em;
}
.value-list .boolean-editor {
  display: block;
  background-color: #999;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  float: left;
  padding: 1px 8px;
  margin: 6px;
}
.value-list .boolean-editor.on {
  background-color: darkgreen;
}
.value-list input {
  border-radius: 4px;
  display: block;
  margin-left: 160px;
}
.project-name {
  font-weight: 700;
  padding-left: 12px;
}
button {
  cursor: pointer;
}
a.file {
  width: 280px;
  display: inline-block;
}
.lint-button {
  background-color: #20539d;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 12px;
  text-align: center;
  color: #fff;
}
.lint-button.contained {
  color: #eee;
}
.project-button {
  background-color: #999999;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 12px;
  text-align: center;
  color: #fff;
  width: 280px;
  text-align: left;
  margin-left: 8px !important;
}
.project-button.contained {
  color: #eee;
}
.js-button-bar {
  margin-left: 26px;
  margin-top: 2px;
}
.js-button-bar .btn {
  margin-right: 8px;
}
.source-panel {
  padding-top: 6px;
  border-top: 1px solid #ccc;
  background-color: #1F5A9C;
  color: #fff;
}
.job .source-panel, .css .source-panel, .html .source-panel {
  padding-top: 0px;
  border-top: none;
}
.source {
  background-color: #fff;
}
.source pre:nth-child(even) {
  background-color: white;
}
.source pre:hover {
  background-color: #999;
}
.source pre {
  border-bottom: 1px solid #ddd;
  border-radius: 0px;
  font-family: Courier;
  font-size: 14px;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 16px;
  background-color: #ededed;
}
.source pre.error {
  background-color: #990009;
  color: #ffff00;
}
.source pre.marker {
  background-color: #FFD800;
}
.source .reason {
  display: block;
  color: yellow;
  white-space: normal;
}
.options-panel {
  float: left;
  width: 280px;
}
.status-panel li .evidence pre {
  margin-left: -25px;
  border-left: none;
  border-right: none;
  margin-bottom: 8px;
  margin-top: 8px;
}
.status-panel a:visited {
  color: #fff;
}
.status-panel ol {
  display: none;
  margin-bottom: 24px;
}
.status-panel ol li {
  margin-left: 20px;
  margin-bottom: 6px;
}
.status-panel ol li .label {
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
}
.status-panel .evidence {
  display: none;
}
.status-panel .evidence pre {
  background-color: #ededed;
  border-radius: 0px;
  margin: 0;
}
.status-panel .reason {
  color: red;
  margin-left: 12px;
  margin-top: 4px;
}
.options {
  display: block;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 3px 3px 12px #333;
  position: relative;
  padding-top: 18px;
  width: 240px;
}
.options div.option {
  display: block;
  width: 99%;
  padding: 4px 0px 4px 12px;
}
.options div.option .key {
  width: 120px;
  float: left;
}
.options div.option .val {
  float: left;
}
.options div.option:nth-child(odd) {
  background-color: #ededed;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #ccc;
  margin: 2px 0px;
}
.marker-button {
  margin-top: 2px;
  margin-left: 22px;
}
#markers {
  padding-left: 16px;
  list-style: none;
  padding: 0px;
  margin-left: -16px;
}
#markers li {
  height: 22px;
  margin-bottom: 2px;
  padding: 4px 16px;
}
#markers li a {
  background-color: #dedede;
  border-radius: 5px;
  padding: 2px 6px 4px 6px;
}
.no-errors {
  background-color: darkgreen;
  color: white;
  text-align: center;
  padding: 8px;
  margin-bottom: 12px;
}
.errors {
  background-color: #990009;
  color: #ffff00;
  cursor: pointer;
  text-align: center;
  padding: 8px;
  margin-bottom: 12px;
}
.no-checks {
  background-color: #CDBE0E;
  text-align: center;
  display: block;
  border-radius: 5px;
  padding: 8px;
}
.ribbon {
  display: none;
  position: fixed;
  z-index: 8;
  left: -90px;
  top: 140px;
  font-size: 16px;
  width: 300px;
  box-shadow: 3px 3px 9px #333;
  background-color: #333;
  color: #fff;
  padding: 4px 0 6px 0;
  text-align: center;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.ribbon a {
  color: #F3D354;
  text-decoration: none;
}
body {
  padding: 42px 0px 12px 0px;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* -- */
.container-fluid .breadcrumb {
  z-index: 9;
  position: fixed;
  top: 74px;
  border-radius: 0;
  padding-left: 19px;
}
h2.top {
  margin-top: 50px;
}
#project-tools {
  position: fixed;
  z-index: 20;
  right: 8px;
  top: 8px;
  float: right;
}
#project-tools > label {
  margin-left: 24px;
  margin-bottom: 12px;
}
#markers .fixme, #markers .todo {
  background-color: #FFD800;
  border-radius: 4px;
  box-shadow: 2px 2px 6px #777;
  display: absolute;
  margin-top: 2px;
  margin-left: 22px;
  margin-right: 12px;
  padding: 2px 8px;
  text-decoration: none;
  color: #000 !important;
}
#markers .todo {
  background-color: #20539D;
  color: #fff !important;
  border: solid 1px #fff;
  box-shadow: none;
}
#lint-options {
  position: fixed;
  background-color: #efefef;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #333;
  border-left: solid 1px #ccc;
  border-right: solid 1px #333;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 4px 4px #333;
  display: none;
  position: absolute;
  z-index: 100;
  margin-right: 24px;
  width: 920px;
  right: 98px;
  top: 40px;
  z-index: 22;
  padding-bottom: 8px;
}
#project-files {
  background-color: #efefef;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #333;
  border-left: solid 1px #ccc;
  border-right: solid 1px #333;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 4px 4px #333;
  display: none;
  position: absolute;
  z-index: 100;
  z-index: 22;
  min-height: 120px;
  width: 636px;
  right: 24px;
  position: absolute;
  top: 40px;
}
#project-files ul {
  list-style: none;
  padding-left: 8px;
  font-size: 14px;
}
#project-files label {
  margin-right: 12px;
  display: inline-block;
}
#project-files ul {
  margin-left: 12px;
  margin-top: 8px;
}
#project-files .build {
  float: right;
  display: inline-block;
  margin-top: -2px;
}
.navbar-fixed-top {
  z-index: 9;
}
#search-bar {
  color: #333;
  float: right;
  margin-top: 2px;
}
#search-bar input {
  border-radius: 8px;
  border-color: #999;
  font-size: 12px;
  padding: 0px 6px;
  width: 320px;
}
.jobs-context #search-bar, .dist-context #search-bar {
  margin-right: 26px;
}
#result-info {
  border-radius: 6px;
  padding: 4px 8px 3px 8px;
  margin-right: 12px;
  display: inline-block;
  font-size: 12px;
}
#result-info code {
  padding: 0 4px;
}
.js #result-info {
  color: #fff;
  display: inline;
}
.css #result-info, .html #result-info, .job #result-info {
  color: #333;
}
#build-toolbar {
  position: fixed;
  right: 0px;
  top: 44px;
  z-index: 20;
  border: none;
}
#build-toolbar label {
  display: inline-block;
}
#build-toolbar label input {
  margin-left: 6px;
  margin-top: 0px;
  display: inline-block;
}
#build-toolbar .transform {
  float: right;
  margin-left: 24px;
  margin-top: -2px;
  margin-right: 10px;
  width: 83px;
}
#dependencies {
  background-color: #F7F7F7;
  border: solid 1px #cecece;
  border-top: none;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 24px;
  margin-top: -1px;
  display: inline-block;
  padding: 4px 8px;
}
#deps-panel {
  background-color: #F7F7F7;
  border: solid 1px #cecece;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 34%;
  display: none;
  margin-top: -20px;
  margin-left: 10px;
  padding: 26px 12px 12px 12px;
}
span.pipe {
  margin-left: 18px;
}
.testcase {
  display: none;
}
.editor-container {
  display: none;
  background-color: #ed3d3d;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 6px 6px 18px #333;
  position: absolute;
  left: 44px;
  top: 156px;
  right: 44px;
  height: 346px;
  opacity: 0.9;
}
.editor-container h2 {
  margin: 0px 0px 4px 0px;
}
.editor {
  font-size: 16px;
  position: absolute;
  right: 4px;
  left: 4px;
  min-height: 300px;
}
.jump-link {
  border-top: 78px solid transparent;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  width: 0;
  height: 0;
}
