/**********    cleafix ***************/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clearfix {
  display: block;
}
/* -- */
header {
  background-color: #ededed;
  border-bottom: 1px solid #ccc;
  color: #fff;
  font-size: 32px;
  text-shadow: 1px 1px 2px #333;
  font-family: "Arial Black";
  font-weight: 700;
  padding-left: 160px;
  margin-left: -60px;
  margin-right: -58px;
  margin-top: -14px;
}
header a {
  color: #fefefe;
  text-decoration: none;
}
a {
  color: #20539D;
}
h2.directory {
  margin-top: 50px;
}
ul.directory {
  padding-left: 0px;
}
.lint-flags, .build-flags {
  border-bottom: solid 1px #333;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 12px;
}
.lint-flags label {
  display: block;
  cursor: pointer;
  float: right;
}
.lint-flags label span {
  display: inline-block;
  width: 40px;
}
.directory-item {
  background-color: #dedede;
  border-radius: 5px;
  padding: 4px 12px 2px 12px;
  border: solid 1px #ccc;
  border: 1px solid #999;
  box-shadow: 2px 2px 4px #999999, inset -1px -18px 2px #bbbbbb;
  margin-bottom: 12px;
  list-style: none;
}
.directory-item label {
  margin-left: 22px;
}
.directory-item a {
  color: #20539D;
}
li.directory-item button.transform {
  margin-left: 20px;
  float: right;
}
.page {
  display: block;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 3px 3px 12px #333;
  position: relative;
  padding-top: 18px;
}
.dependencies {
  padding-left: 16px;
  list-style: none;
  padding: 0px;
}
.dependencies li {
  height: 22px;
  margin-bottom: 2px;
  padding: 4px 16px;
}
.dependencies li a {
  background-color: #dedede;
  border-radius: 5px;
  padding: 2px 6px 4px 6px;
}
.dependencies .dep {
  background-color: #e3e3e3;
  border-radius: 3px;
  padding: 4px 6px;
  cursor: pointer;
}
.dependencies a:hover {
  background-color: #999;
  color: #fff;
}
body > div.directory-item {
  margin-top: 52px;
}
body {
  padding: 6px 50px 12px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
/****** headers   ********/
h2 {
  margin-top: 28px;
  background-color: #3d3d3d;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  padding: 4px 8px;
}
h2 a {
  color: #F3D354;
}
h3 {
  box-shadow: inset -1px -18px 2px #555555;
}
h3 a {
  font-size: 12px;
  font-weight: 300;
  margin-left: 12px;
}
.evidence pre {
  display: block;
  border-radius: 5px;
  padding: 8px;
  background-color: #ededed;
}
div.reason {
  margin-top: 4px;
  color: red;
}
div.text-box {
  display: block;
  border-radius: 5px;
  padding: 8px;
  background-color: #efefef;
  border: 1px solid #999;
}
div.page {
  width: 840px;
  top: 32px;
}
.size {
  font-size: 14px;
  font-weight: 300;
  float: right;
  margin-top: 4px;
}
label.project {
  background-color: #C94F1A;
  opacity: 0.6;
  border-radius: 4px;
  color: #ededed;
  display: inline-block;
  padding: 3px 12px;
  margin-right: 18px;
  width: 320px;
}
.value-list {
  margin-bottom: 8px;
  padding: 12px;
}
.value-list li {
  height: 2em;
}
.value-list .boolean-editor {
  display: block;
  background-color: #999;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  float: left;
  padding: 1px 8px;
  margin: 6px;
}
.value-list .boolean-editor.on {
  background-color: darkgreen;
}
.value-list input {
  border-radius: 4px;
  display: block;
  margin-left: 160px;
}
.project-name {
  font-weight: 700;
  padding-left: 12px;
}
button {
  cursor: pointer;
}
a.file {
  width: 280px;
  display: inline-block;
}
#markers .fixme, #markers .todo {
  background-color: #FFD800;
  border-radius: 4px;
  box-shadow: 2px 2px 6px #777;
  display: absolute;
  margin-top: 2px;
  margin-left: 22px;
  margin-right: 12px;
  padding: 2px 8px;
  text-decoration: none;
  color: #000 !important;
}
#markers .todo {
  background-color: #20539D;
  color: #fff !important;
}
#lint-options {
  background-color: #efefef;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #333;
  border-left: solid 1px #ccc;
  border-right: solid 1px #333;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 4px 4px #333;
  display: none;
  position: absolute;
  z-index: 100;
  margin-right: 24px;
}
#project-files {
  background-color: #efefef;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #333;
  border-left: solid 1px #ccc;
  border-right: solid 1px #333;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 2px 4px 4px #333;
  display: none;
  position: absolute;
  z-index: 100;
  min-height: 120px;
  width: 636px;
  right: 24px;
}
#project-files ul {
  list-style: none;
  padding-left: 8px;
  font-size: 14px;
}
#project-files label {
  margin-right: 12px;
}
#project-files ul {
  margin-left: 12px;
  margin-top: 8px;
}
#project-files .build {
  float: right;
  display: inline-block;
  margin-top: -2px;
}
#project-tools {
  float: right;
  margin-top: -28px;
}
#project-tools > label {
  margin-left: 24px;
  margin-bottom: 12px;
}
.lint-button {
  background-color: #20539d;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 12px;
  text-align: center;
  color: #fff;
}
.lint-button.contained {
  background-color: #006400;
  color: #eee;
}
.project-button {
  background-color: #999999;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 12px;
  text-align: center;
  color: #fff;
  width: 280px;
  text-align: left;
}
.project-button.contained {
  background-color: #006400;
  color: #eee;
}
.marker-button {
  background-color: #20539d;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 12px;
  text-align: center;
  color: #fff;
  margin-left: 24px;
}
.marker-button.contained {
  background-color: #006400;
  color: #eee;
}
.bag-button {
  background-color: #cecece;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 3px 12px;
  text-align: center;
  width: 180px;
  margin-right: 4px;
}
.bag-button.contained {
  background-color: #006400;
  color: #eee;
}
.source {
  display: block;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 3px 3px 12px #333;
  position: relative;
  padding-top: 18px;
  background-color: #fff;
}
.source pre:nth-child(even) {
  background-color: white;
}
.source pre:hover {
  background-color: #999;
}
.source pre {
  border-bottom: 1px solid #ddd;
  font-family: Courier;
  font-size: 14px;
  margin: 0;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 16px;
  background-color: #ededed;
}
.source pre.error {
  background-color: #990009;
  color: #ffff00;
}
.source pre.marker {
  background-color: #FFD800;
}
.source .reason {
  display: block;
  color: yellow;
  white-space: normal;
}
.options-panel {
  float: left;
  width: 280px;
}
.status-panel {
  margin-left: 300px;
}
.options {
  display: block;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 3px 3px 12px #333;
  position: relative;
  padding-top: 18px;
  width: 240px;
}
.options div.option {
  display: block;
  width: 99%;
  padding: 4px 0px 4px 12px;
}
.options div.option .key {
  width: 120px;
  float: left;
}
.options div.option .val {
  float: left;
}
.options div.option:nth-child(odd) {
  background-color: #ededed;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 1px 1px 2px #ccc;
  margin: 2px 0px;
}
.no-errors {
  background-color: darkgreen;
  color: white;
  text-align: center;
  display: block;
  border-radius: 5px;
  padding: 8px;
}
#markers {
  padding-left: 16px;
  list-style: none;
  padding: 0px;
  margin-left: 12px;
}
#markers li {
  height: 22px;
  margin-bottom: 2px;
  padding: 4px 16px;
}
#markers li a {
  background-color: #dedede;
  border-radius: 5px;
  padding: 2px 6px 4px 6px;
}
.errors {
  background-color: #990009;
  color: #ffff00;
  text-align: center;
  display: block;
  border-radius: 5px;
  padding: 8px;
}
.no-checks {
  background-color: #CDBE0E;
  text-align: center;
  display: block;
  border-radius: 5px;
  padding: 8px;
}
.ribbon {
  position: fixed;
  left: -90px;
  top: 60px;
  font-size: 16px;
  width: 300px;
  box-shadow: 3px 3px 9px #333;
  background-color: #333;
  color: #fff;
  padding: 4px 0 6px 0;
  text-align: center;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
}
.ribbon a {
  color: #F3D354;
  text-decoration: none;
}
