include mixins
mixin breadcrumb

ul.directory
	each file,idx in sourceTree.children
		if file.type === "directory"
			mixin directory(file)
		else if context === config.context.jobs
			mixin jobfile(file, idx)
		else if file.type === "html" || file.type === "css" || file.type === "txt"
			mixin htmlfile(file, idx)
		else if file.type === "qunit"
			mixin qunitfile(file, idx)
		else if file.type === "json" || file.type === "suite" ||  file.type === "webapp"
			mixin jsonfile(file, idx)
		else if file.type === "png" || file.type === "gif" || file.type === "jpg" || file.type === "jpeg"
			mixin binaryfile(file, idx)
		else
			mixin jsfile(file, idx)
			