include mixins
if context === config.context.src
	mixin breadcrumb
if context === config.context.dist
	h2.collapse.directory Released files
if context === config.context.jobs
	h2.collapse.directory Stored jobs

ul.directory
	each file,idx in sourceTree.children
		if file.type === "directory"
			mixin directory(file)
		else if context === config.context.jobs
			mixin jobfile(file, idx)
		else if file.type === "html" || file.type === "css" || file.type === "app"
			mixin htmlfile(file, idx)
		else if file.type === "qunit"
			mixin qunitfile(file, idx)
		else
			mixin jsfile(file, idx)
			