/* -------------------------------------------- */
#container {
  padding: 6px 6px 6px 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #999999;
}
#movie-list {
  height: 540px;
  margin: 0;
}
#movie-list .selected {
  background-color: #999;
  color: #fff;
}
#movie-list-alternative .selected {
  background-color: #999;
  color: #fff;
}
nav, aside {
  float: left;
  width: 180px;
}
aside {
  padding: 0;
  margin: 0;
  margin-top: -20;
  margin-left: 22px;
}
aside ul {
  margin: 0;
  padding: 0;
}
#movie-detail {
  float: left;
  height: 540px;
  margin-left: 24px;
  width: 800px;
  padding: 6px 6px 6px 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #999999;
}
#movie-detail h2 {
  margin: 8px 0px 12px 0px;
  height: 28px;
}
#movie-detail .description {
  padding: 6px 6px 6px 6px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #999999;
  height: 72px;
}
#movie-detail .director {
  height: 28px;
}
